/*****************************************************
*  style_custom.css
*
*  Custom offenekommune css to override adhocracy css
*
*  - Main navigation
*  - Tabs onboarding aboutpage
*
******************************************************/

/* Link color */

a {
color: #3b893d;
}

/* Logo */
#logo {
height: 90px;
}

/* Navigation */

#subnav li, #subnav li.current {
  background-image: url('/static_theme/static/images/sprite_tab_navigation.png');
}
#subnav li a {
  color: #838383;
}
#subnav li.current a, #subnav li a:hover {
  color: #333;
}
#nav li.current {
  background-image: url('/static_theme/static/images/gradient_navi_highlight.png');
}
#nav ul.children {
  background-image: url('/static_theme/static/images/gradient_navi_dropdown.png');
}
#nav li:hover {
  background-image: url('/static_theme/static/images/gradient_navi_hover.png');
}
.menu.hlist {
padding-top: 8px;
}
/* Button border, background, color */

.vote, .vote.big, .vote_count, .button_small, .vote_up, .vote_down {
  background-image: url('/static_theme/static/images/sprite_buttons_small.png');
}
.vote, .vote.big, .follow_paper, .button_small, a.button, .submit input, submit button {
  /* Naive border solution for now */
  border: 1px solid #c1c1c1;
}
a.button_small, a.button, .submit input, submit button {
  color: #333;
}
.vote_up, .vote_down {
  background: url('/static_theme/static/images/sprite_buttons_small.png') repeat-x 0 -450px;
}
a.button, .submit input, submit button {
  background-image: url('/static_theme/static/images/sprite_buttons.png');
  height: 25px;
  line-height: 25px;
}

.pager a, .pager span {
  border: 1px solid white;
  font-weight: bold;
  background: none;
  padding: 4px 14px;
}
.pager .current, .pager a:active, .pager a:hover {
  border: 1px solid #c1c1c1;
  background-image: url('/static_theme/static/images/sprite_buttons.png');
  color: #333;
}
.pager a {
  color: #3b893d;
}

.register {
 line-height: 33px;
}

.register a.button {
  background-position: 0 -600px;
  border: 1px solid #3e753e;
  font-size: 125%;
  line-height: 33px;
  height: 35px;
  padding-right: 18px;
}
.register a:hover.button {
  background-position: 0 -650px;
}

  /* Search */
#searchform #searchsubmit, .list_form input.go {
  color: #333;
  background-image: url('/static_theme/static/images/button_grey.png');
  border-width: 1px;
  border-style: solid;
  border-color: #c2c2c2;
}

  /* Sprite icons overrides (close button mainly */

.info_box .close_button, .overlay a.close,
  .vote_up span, .vote_down span,
  .vote.big .vote_up span,
  .vote.big .vote_down span,
  a.show_comments:after, a.new_comment:after
{
  background-image: url('/static_theme/static/images/sprite_icons.png');
}

/* Font */
h1, h2, h3, h4, h5, a, legend, .tabnav li a.active, .tabnav li a:hover  {
  color: #323232;
}

label {
  font-weight: normal;
}

/* Background */

#header {
  background-image: url('/static_theme/static/images/gradient_header.png');
}
#subheader {
  background-image: url('/static_theme/static/images/tabs_bg_large.png');
}
.comment_form {
  background-color: #fff;
}
.comments_list li {
  background-color: #f7f6f4;
  border-top: 4px solid white !important;
}

.content_list {
/* disturbed on proposal list, needed somewhere else? */
/*  background: #f7f6f4; */
  margin-bottom: 22px;
}
li.content_box {
  background: #fff;
}
li.content_box h3, li.content_box .meta {
  padding: 0 11px;
}
li.content_box:nth-child(2n+2) {
  background: #f7f6f4;
  border-bottom: 1px dotted #CCC;
  border-top: 1px dotted #CCC;
}

/* extensive border solution below needs to be refined */

/*.vote.big {
  background-image: none;
  border-radius: 0;
  height: 28px;
}

.vote_down, .vote_up {
  background: url('/static_theme/static/images/sprite_buttons_small.png') repeat-x 0 -450px;
  border: 1px solid #c1c1c1;
}

.vote_down {
  border-left: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.vote_count {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #4c954d;
}*/

/*Main navigation*/

#nav li {
  padding-top: 7px; /*make drop down menus work*/
}
body.logged_in #nav li,
body.logged_in #nav li a {
  height: 24px;
}


 /*Wordpress pages sidebar*/

#main .widget-area .shailan_SubpagesWidget,
#main .widget-container ul,
#main ul.subpages li,
#main .widget-container {
  list-style: none;
  background: none;
}
#col3 #secondary {
  padding-top: 20px;
}

/*Tabs onboarding aboutpage - style jquery ui wordpress tabs*/
/* TODO: This could be much shorter or maybe completly removed [joka] */

#main .ui-widget {
  font-family: Arial,sans-serif;
}
#main .ui-widget input,
#main .ui-widget button {
  font-family: Arial,sans-serif;
  font-size: 13px;
}
#main .ui-widget p,
#main .ui-widget h1,
#main .ui-widget h2,
#main .ui-widget h3 {
  margin-left: 23px;
  margin-right: 23px;
  padding-left: 0;
  padding-right: 0;
  width: 65%;
}
#main .ui-widget .register {
  margin-left: 13px;
}
#main .ui-widget img {
  margin-left: 23px;
  margin-right: 23px;
}
#main .ui-widget h1 {
  margin: 0 23px 27px 23px;
  padding: 27px 0 0 0;
  border-bottom: 1px dotted #CCC;
}
#tabs-1 {
  min-height: 714px;
}
#tab_background_dummy {
  /*This is only here to show some white background during the tab fading out effect*/
  background-color:#fff;
  z-index: 1;
  position: absolute;
  top: 50px;
  width: 1004px;
  height: 700px;
}
#tabs-1 {
  /*This is only here to show some white background during the tab fading out effect*/
  z-index: 2;
}

#main .ui-widget-content,
#main.with_wordpress_tabs .page_wrapper {
  padding-top: 0;
  padding-bottom: 0;
  background-color:transparent;
  min-height: 750px;
  position:relative;
}
#main.with_wordpress_tabs #col1_content {
  padding-left: 0;
  padding-right: 0;
  /*10px 0 23px;,c */
}
#main .ui-widget-header {
  border:none;
  background-color: transparent;
  background: url('/static_theme/index_files/white-50.png') repeat bottom center;
  padding-top: 14px;
}
#tabs-1 > div,
#tabs-1 h1,
#main .ui-tabs > div,
#main .ui-tabs h1 {
  background-color: #fff;
}
#main .ui-tabs,
#main .ui-tabs .ui-tabs-panel {
  border:none;
  padding:0;
}
#main .ui-tabs-nav {
  border:none;
  clear: none;
  height: 36px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  margin: 0px;
}
#main .ui-tabs-nav li {
  height: 36px;
  line-height: 36px;
  background: url('/static_theme/static/images/sprite_tab_navigation.png') repeat-x 0 -60px;
}
#main .ui-tabs-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 0 19px;
  display: block;
  font-weight: bold;
  font-size: 15px;
}
#main .ui-tabs-nav li.ui-state-active a {
  color: #2D3441;
}
#main .ui-tabs-nav li.ui-state-active {
  background: url('/static_theme/static/images/sprite_tab_navigation.png') repeat-x 0 -10px;
}
#main .ui-tabs-nav li:hover a {
  color: #fff;
}
#main .ui-tabs-nav li:focus a {
  outline: none;
}
#main .ui-tabs-nav li:hover {
  background: url('/static_theme/static/images/sprite_tab_navigation.png') repeat-x 0 -111px;
}
#main .ui-widget-header,
#main .ui-tabs-nav li {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

#main .put-nav {
  display:none;
}
label.armhint {
    display: none;
}

#main.with_wordpress_tabs {
  background-image: url('/static_theme/static/images/tabs_bg_large.png');
  background-repeat: no-repeat;
  background-position: 50% -47px;
  margin: 0 0 60px;
  padding-top: 30px;
}
