$primary-color: #3b893d;
$black: #323232;
$button-color: #eee;
$red: #9D4647;
$green: $primary-color;
$register-color: $primary-color;
$header-color: #4A473E;
$header-color2: #605B51;

$bg1: #f4f4f4;
$bg2: #e6e6e6;
$border: #ccc;
$fg1: #666;

$flash: #fffde4;

$smaller: smaller;
$larger: larger;

$x-small: 9px;
$small: 11px;
$medium: 13px;
$large: 15px;
$x-large: 20px;
